@font-face {
  font-family: "HarryPotter";
  src: url(../font/HARRYP__.TTF);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/fond_etoile.jpg);
  overflow-x: hidden;
}

/* CSS pour le swiper*/
.swiper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  font-family: "HarryPotter", Arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-radius: 1vw;
  border: 0.2vw solid #b89e14;
  min-height: fit-content;
}

.swiper .swiper-titre {
  font-family: "HarryPotter", Arial;
  letter-spacing: 0.5rem;
}

swiper-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 30vw;
  width: 100%;
  background-color: black;
  border-radius: 1vw;
}

swiper-slide {
  text-align: center;
  margin: 1% 0 0 0;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 20vw;
  height: 80%;
  object-fit: fill;
}

/* CSS pour les tabs*/
.cards-container {
  min-width: 100%;
  max-width: 100%;
}

.cards-container h1 {
  font-family: "HarryPotter", Arial;
  color: gray;
}

.filters ul {
  color: white;
  display: flex;
}

.filters li {
  cursor: pointer;
  list-style-type: none;
  margin-right: 3vw;
}

.filters-contain {
  max-height: fit-content;
  max-width: fit-content;
  background-color: black;
  border-radius: 1vw;
  border: 0.2vw solid #b89e14;
}

.ecole-elements {
  color: white;
  background-color: black;
  max-width: 93%;
  border-radius: 1vw;
  border: 0.2vw solid #b89e14;
  max-height: 20vw;
}

#card-filtr-item {
  min-width: 15vw;
  min-height: 20vw;
  max-width: 15vw;
  max-height: 20vw;
}

.card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card-header img {
  object-fit: contain;
  width: 15vw;
  height: 15vw;
}

/* CSS pour le DarkMode*/
.light-mode {
  color: white;
  background-image: url(../img/fond_etoile_inverser.png);
}

.light-mode .swiper {
  color: black;
  background-color: white;
  border: 0.2vw solid #ffd700;
}

.light-mode swiper-container {
  background-color: white;
}

.light-mode .filters-contain {
  color: black;
  background-color: white;
  border: 0.2vw solid #ffd700;
}

.light-mode .ecole-elements {
  color: black;
  background-color: white;
  border: 0.2vw solid #ffd700;
}

.light-mode #carte-container {
  color: black;
  background-color: white;
}

.light-mode .cards-container h1 {
  color: white;
}

.light-mode #carte-template {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.53);
}

.light-mode .Gryffindor,
.light-mode .Gryffindor h2 {
  background-color: #ae0001;
  color: #d3a625;
}

.light-mode .Hufflepuff,
.light-mode .Hufflepuff h2 {
  background-color: #f0e75e;
  color: #372e29;
}

.light-mode .Ravenclaw,
.light-mode .Ravenclaw h2 {
  background-color: #222f5b;
  color: #946b2d;
}

.light-mode .Slytherin,
.light-mode .Slytherin h2 {
  background-color: #2a623d;
  color: black;
}

.light-mode .no-house,
.light-mode .no-house h2 {
  color: black;
  background-color: white;
}

.light-mode .profile-container {
  background-color: white;
  color: black;
  border: 0.2vw solid #f0e75e;
}

/* CSS pour les maisons*/

.Gryffindor,
.Gryffindor h2 {
  background-color: #740001;
  color: #eeba30;
}

.Hufflepuff,
.Hufflepuff h2 {
  background-color: #eeb939;
  color: #726255;
}

.Ravenclaw,
.Ravenclaw h2 {
  background-color: #0e1a40;
  color: #bebebe;
}

.Slytherin,
.Slytherin h2 {
  background-color: #1a472a;
  color: #aaaaaa;
}

.no-house,
.no-house h2 {
  color: white;
  background-color: black;
}

/* CSS pour retourner en haut*/
.aller-haut {
  z-index: 4;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: transform 0.3s ease;
}

.aller-haut img {
  max-width: 5vw;
  max-height: 5vw;
}

.aller-haut:hover {
  transition: linear;
  transform: scale(1.2);
}

/* CSS pour les collections*/
.video_background {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: -1;
}

.video_background video {
  width: 100%;
}

.titre-video {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  height: 20vw;
}

.titre-video h1 {
  background-color: rgba(102, 102, 102, 0.5);
  padding: 1vw;
  border-radius: 1vw 0;
}

#carte-container {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

#carte-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.53);
  transition: transform 0.2s;
  margin-bottom: 20px;
  width: 25vw;
  height: 27vw;
}

#carte-template img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1vw;
}

#carte-template:hover {
  transform: translateY(-5px);
}

.carte-nom {
  color: #333;
  margin-bottom: 10px;
}

.carte-maison {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

.carte-details-link {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.carte-details-link:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination #current-page {
  font-size: 16px;
}

/* CSS pour le profile*/
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
  font-family: "HarryPotter", Arial;
  font-size: 30px;
  border-radius: 1vw;
  border: 0.2vw solid #b89e14;
  height: 10vw;
  width: fit-content;
  padding: 5vw;
}

.profile-container .form-group {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 5vw;
}

@media all and (max-device-width: 1024px) {
  .ecole-elements {
    max-width: 90%;
  }

  #carte-container {
    width: 96%;
  }
}

@media all and (max-device-width: 768px) {
  .filters ul {
    padding-inline-start: 4vw;
  }
  .ecole-elements {
    max-width: 87%;
    max-height: 50vw;
  }
  swiper-slide h1 {
    font-size: 1em;
  }

  #carte-container {
    width: 95%;
  }

  #carte-template {
    height: 50vw;
    width: 30vw;
  }

  .titre-video {
    height: 10vw;
    align-items: start;
  }

  .video_background {
    top: 6%;
  }
}

@media all and (max-device-width: 728px) {
  .ecole-elements {
    flex-direction: column;
    align-items: start;
    max-width: 76%;
    min-height: 50vw;
  }
  .swiper .swiper-titre {
    letter-spacing: 0.1em;
    font-size: 1.3em;
  }
  swiper-slide h1 {
    font-size: 1em;
  }

  #carte-container {
    width: 90%;
  }

  #carte-template {
    height: 85vw;
    width: 55vw;
  }

  .titre-video {
    display: none;
  }

  .video_background {
    display: none;
  }
}
